@import "imports/uniform.less";



@font-family-base: 'Open Sans', sans-serif;

@brand-success: #393;
@brand-danger: #933;

@state-success-text: @brand-success;
@state-success-border: fade(@brand-success, 10%);
@state-success-bg: #dfd;

@state-danger-text: @brand-danger;
@state-danger-border: fade(@brand-danger, 10%);
@state-danger-bg: #fdd;

@navbar-margin-bottom: 0;
@navbar-border-radius: 0;



body {
	font-weight: 300;
}
.hero {
	.background-fill("../img/hero1.png", black);
	.size(auto, 380 *@p);
	color: #FBF59D;
	margin-bottom: 100rem;

	@media @xs { height: 240 *@xsp; }
	@media @sm { height: 320 *@smp; }
	@media @lg { height: 420 *@lgp; }
	@media @xl { height: 480 *@xlp; }

	&:before {
		.sudo;
		.pin(center top, center bottom);
		.size(140rem, 160rem);

		background:#eee;
	}
}
.hero-title {
	.pin(); // default to center
	.size(); // default to 100% x auto
	.text-uppercase;
	.text-center;
	font-size: 48 *@p;
	letter-spacing: 0.5em;

	&:before {
		.sudo-triangle(bottomleft, 8 *@p, #FBF59D);
		.pin(left bottom, 86% 10%);
	}
}
.hero-profile {
	.anchor();
	.position(center bottom);
	.square(160rem);
	.round;

	transform+_: rotate(10deg);
}
.responsive-helpers-table {
	.size(280rem);
	.round(5rem);
	.text-center;
	position: relative;
	margin: 0 auto;
}
.flex-grid-demo {
	margin: 40rem 0;
}
.component {
	// This component is internally consistent on each screen size. 
	width: 320rem;
	min-height: 160rem;
	padding: 20rem;
	border:2rem solid white;
	background: #eee;
}
.even-grid-demo {
	.background-fill("../img/hero1.png", black);
	margin: 40rem 0;
	font-size: 16 *@p;

	&, * {
		@media @xs {
			display: block;
			font-size: 16 *@xsp;
		}
	}
	.color-1 { background: fade(#FBF59D, 80%); }
	.color-2 { background: fade(white, 10%); }
	.color-3 { background: fade(white, 30%); }
	.color-4 { background: fade(white, 100%); }

	.color-2,
	.color-3,
	.color-5 {
		color: white;
	}
	.color-1,
	.color-2,
	.color-3,
	.color-4,
	.color-5 {
		padding:24 *@p;

		@media @xs {
			padding: 24 *@xsp;
		}
	}
}
.example-form {
	width: 280rem;
	margin: 20rem auto;
}
.example-form-inline {
	.text-center;
	margin: 20rem;
}
