@import "imports/uniform.less";

html {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.hero {
	.background-fill("../img/hero1.png", black);
	.size(auto, 380 *@p);  // shorthand for `width: 100%; height: 39.58333333vw;`

	color: #FBF59D;
	margin-bottom: 100rem;

	// Set as many breakpoint rules as you want
	@media @xs { height: 240 *@xsp; }
	@media @sm { height: 320 *@smp; }
	@media @lg { height: 420 *@lgp; }
	@media @xl { height: 480 *@xlp; }

	&:before {
		.sudo; // shorthand for `content: "";`
		.anchor(0.5, 0);
		.position(0.5, 1);
		.size(140rem, 160rem);

		background:#eee;
	}
}
.hero-title {
	.anchor(); // defaults to center, shorthand for `translate(-50%, -50%);`
	.position(); // defaults to center, shorthard for `position:absolute; left: 50%; top: 50%;`
	.size(); // defaults to 100% width, auto height, shorthand for `width: 100%; height: auto;`
	.text-uppercase;
	.text-center;

	font-size: 48 *@p;
	letter-spacing: 0.5em;

	&:before {
		.sudo-triangle(bottomleft, 8 *@p, #FBF59D);
		.anchor(0, 1);
		.position(0.86, 0.1);
	}
}
.hero-profile {
	// The following aligns the center of the profile with the bottom center point of the hero.
	.anchor();
	.position(0.5, 1); // shorthard for `position:absolute; left: 50%; top: 100%;`
	.square(160rem); // shorthand for `width: 160rem; height: 160rem;`
	.round; // defaults to 50%, shorthand for `border-radius: 50%;`

	transform+_: rotate(10deg); // Remember to append additional transforms or you'll lose the anchor.
}
.responsive-helpers-table {
	.size(280rem); // shorthand for `width: 150rem; height: auto;`
	.round(5rem); // shorthand for `border-radius: 5rem;`
	.text-center;

	position: relative; // kick z-indexing
	margin: 0 auto;
}
.flex-grid-demo {
	margin: 40rem 0;
}
.component {
	// This component is internally consistent on each screen size. 
	width: 320rem;
	min-height: 160rem;
	padding: 20rem;

	border:2rem solid white;
	background: #eee;
}
.even-grid-demo {
	.background-fill("../img/hero1.png", black);
	margin: 40rem 0;

	&, * {
		outline-offset: -1rem;
		outline: 1rem solid white;
		min-height: 90 *@p;

		@media @xs {
			display:block;
			min-height: 40 *@xsp;
		}
	}
	.color-1 { background: fade(#FBF59D, 80%); }
	.color-2 { background: fade(white, 10%); }
	.color-3 { background: fade(white, 30%); }
	.color-4 { background: fade(white, 100%); }

	.color-2,
	.color-3,
	.color-5 {
		color: white;
	}
	.color-1,
	.color-2,
	.color-3,
	.color-4,
	.color-5 {
		padding:8rem;
	}
}
