html, body {
	height: 100%;
}
html {
    width: 100vw;

	// This is the magic.
	@media @xs { font-size: @precision * 100vw/320; }
	@media @sm { font-size: @precision * 100vw/640; }
	@media @md { font-size: @precision * 100vw/960; }
	@media @lg { font-size: @precision * 100vw/1280; }
	@media @xl { font-size: @precision * 100vw/1920; }
}
body {
	min-height: 100%;
	overflow-x: hidden;

	text-size-adjust: 100%;
}