* {
  box-sizing: border-box;
  font-size: 14rem;
}
html,
body {
  min-height: 100% !important;
  height: 100%;
}
html {
  width: 100vw;
  overflow-x: hidden;
}
@media screen and (max-width:639px) {
  html {
    font-size: 0.3125vw;
  }
}
@media screen and (min-width:640px) and (max-width:959px) {
  html {
    font-size: 0.15625vw;
  }
}
@media screen and (min-width:960px) and (max-width:1279px) {
  html {
    font-size: 0.10416667vw;
  }
}
@media screen and (min-width:1280px) and (max-width:1919px) {
  html {
    font-size: 0.078125vw;
  }
}
@media screen and (min-width:1920px) {
  html {
    font-size: 0.05208333vw;
  }
}
body {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}
.perimeter {
  min-height: 100%;
  background: #3fd;
}
.screenlayout {
  padding: 2vw;
  font-size: 4vw;
  text-align: center;
  background: black;
  color: white;
}
.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20rem;
}
.component {
  width: 280rem;
  height: 180rem;
  margin: 0 10rem 20rem;
  padding: 20rem;
  background: rgba(0, 0, 0, 0.1);
}
