// Variables you're meant to override

@brand-success: #393;
@brand-danger: #933;

@state-success-text: @brand-success;
@state-success-border: fade(@brand-success, 10%);
@state-success-bg: #dfd;

@state-danger-text: @brand-danger;
@state-danger-border: fade(@brand-danger, 10%);
@state-danger-bg: #fdd;