table {
	border-collapse: collapse;
	border-spacing: 0;
}
td {
	padding: 8rem;
	border-bottom:1px solid #666;

	&.success {
		color: @state-success-text;
		background: @state-success-bg;
		border-color: @state-success-border;
	}
	&.danger {
		color: @state-danger-text;
		background: @state-danger-bg;
		border-color: @state-danger-border;
	}
}