@import "../../less/uniform.less"; // Variables

@yellow: #fbd240;
@dk-yellow: #deab11;
@gray: #333;
@lt-yellow: mix(@yellow, white, 45%);
@font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial,sans-serif;
@heading-font-family: "museo-slab", "Helvetica Neue", Helvetica, Arial,sans-serif;
@regular:100 @semibold: 300;
@bold: 500;
// Mixins
.heading-style() {
  font-family: @heading-font-family;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  font-weight: 100;
  em {
    font-style: normal;
  }
}
//Styles
html {
  font-family: @font-family;
}
* {
  border: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  .heading-style();
  margin: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
  :hover {
    text-decoration: none;
    color: inherit;
  }
}
.yellow-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: @yellow;
  transition: all 0.18s ease-out;
  &:hover {
    background-color: @dk-yellow;
  }
}
.page {
  // background-image: url("../img/lyt2/Uniform-Lyt-2-Components.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  @media @xs {
    // background-image: url("../img/lyt2/Uniform-Lyt-2-320.jpg");
  }

  .section-01 {
    // background-color: rgba(55, 55, 55, 0.2);
    height: auto;
    margin-top: 102.2*@p;
    .section-content {
      // border: 1px solid #333;
      max-height: 325*@p;
      position: relative;
      margin-left: 337*@p;
      @media @xs {
        margin-left: 269.8*@p;
      }
      h1 {
        // display: inline-block;
        font-size: 31.92*@p;
        line-height: 1;
        letter-spacing: -0.005em;
        @media @xs {
          font-size: 59.76*@p;
        }
        em {
          display: block;
          font-size: 104.64*@p;
          line-height: 87%;
          font-weight: 500;
          // margin-bottom: 0*@p;
          margin-left: -2.92*@p;
          @media @xs {
            font-size: 104.88*@p;
          }
        }
      }
      .copy {
        max-width: 574*@p;
        font-size: 21*@p;
        line-height: 35*@p;
        position: relative;
        // top: -5.69*@p;
        margin-left: 2.92*@p;
        @media @xs {
          font-size: 33.6*@p;
          line-height: 54.72*@p;
        }
      }
    }
  }
  .number {
    // border: 1px solid #333;
    display: inline-block;
    position: relative;
    margin-left: -77*@p;
    margin-top: -199.2*@p;
    @media @xs {
      margin-left: -182.4*@p;
      margin-top: 84*@p;
    }
    img {
      width: 480*@p;
      @media @xs {
        width: 520*@p;
      }
    }
  }
  .login {
    // background-color: rgba(255, 28, 28, 0.2);
    margin-top: -125.5*@p;
    *:focus {
      outline: none;
    }
    @media @xs {
      top: 0;
    }
    h2 {
      font: @heading-font-family;
      font-size: 60rem;
      font-weight: 500;
      text-transform: lowercase;
    }
    form {
      margin-top: -5rem;
      margin-left: 20rem;
    }
    input[type="text"] {
      border-bottom: 2px solid #a1a1a1;
      background-color: rgba(255, 255, 255, 0);
      margin-bottom: 2rem;
      margin-top: 17rem;
      transition: all 0.18s ease-out;
      &:focus {
        border-bottom: 2px solid @yellow;
      }
    }
    input::input-placeholder {
      color: #000;
    }
    input[type="submit"] {
      display: inline-block;
      background-color: @yellow;
      text-transform: uppercase;
      color: #000;
      padding: 6px 16px;
      position: relative;
      top: 11rem;
      left: 20rem;
    }
    .sign-up {
      display: inline-block;
      margin-top: 10rem;
      font-size: 12rem;
    }
  }
  .handwritten1 {
    display: inline-block;
    // border: 1px solid #333;
    margin-left: 382*@p;
    margin-top: -50*@p;
    @media @xs {
      margin-left: 382*@p;
      margin-top: 7.68*@p;
    }
    img {
      position: relative;
      z-index: -1;
      width: 780*@p;
      @media @xs {
        width: 1096.8*@p;
      }
    }
  }
  .section-02 {
    // background-color: rgba(255, 28, 28, 0.2);
    margin-left: 566.4*@p;
    margin-top: -94.8*@p;
    @media @xs {
      margin-left: 269.8*@p;
      margin-top: 138*@p;
    }
    .section-content {
      .copy {
        width: 293*@p;
        font-size: 16*@p;
        line-height: 25*@p;
        @media @xs {
          width: 580*@p;
          font-size: 33.6*@p;
          line-height: 54.72*@p;
        }
      }
      .line {
        &:nth-child(1) {
          font-size: 35*@p;
          border-top: 13*@p solid #000;
          margin-top: 1.48*@p;
          @media @xs {
            font-size: 62.88*@p;
          }
        }
        &:nth-child(2) {
          font-size: 89*@p;
          margin-top: -19.24*@p;
          @media @xs {
            font-size: 156*@p;
            margin-top: -38.4*@p;
          }
        }
        &:nth-child(3) {
          font-size: 50*@p;
          margin-top: -22.12*@p;
          @media @xs {
            font-size: 88.22*@p;
            margin-top: -48.96*@p;
          }
        }
        &:nth-child(4) {
          font-size: 40.32*@p;
          margin-top: -13.48*@p;
          border-bottom: 13*@p solid #000;
          @media @xs {
            font-size: 71.04*@p;
            margin-top: -23.04*@p;
          }
        }
      }
    }
  }
  .leaf-screen1 {
    margin-left: -72*@p;
    margin-top: -534*@p;
    @media @xs {
      margin-left: -142*@p;
      margin-top: -1034*@p;
    }
    img {
      width: 380*@p;
      @media @xs {
        width: 672*@p;
      }
    }
  }
  .number-02 {
    margin-left: 323.11*@p;
    margin-top: -301.92*@p;
    @media @xs {
      margin-left: -32*@p;
      margin-top: -278*@p;
    }
    img {
      width: 236*@p;
      @media @xs {
        width: 290*@p;
      }
    }
  }
  .section-03 {
    display: flex;
    margin-top: 40*@p;
    @media @xs {
      margin-top: 136*@p;
    }
    .shrt-bar-03 {
      img {
        width: 323*@p;
        height: 361*@p;
        @media @xs {
          width: 716.8*@p;
          height: 796.8*@p;
        }
      }
    }
    .number-03 {
      margin-left: -469.44*@p;
      margin-top: 30.24*@p;
      @media @xs {
        margin-left: -1017*@p;
        margin-top: 67.2*@p;
      }

      img {
        width: 440.4*@p;
        @media @xs {
          width: 944*@p;
        }

      }
    }
    .lng-bar-03 {
      z-index: 2;
      margin-left: -103.68*@p;
      @media @xs {
        margin-left: -199.68*@p;
      }

      img {
        width: auto;
        height: 361*@p;
        @media @xs {
          height: 796.8*@p;
        }

      }
    }
  }
  .leaf-screen2 {
    display: inline-block;
    margin-top: -470px;
    margin-left: 1010px;
    z-index: 5;
    img {
      // width: 380*@p;
    }
  }
  .card {
    // background-color: rgba(255, 205, 28, 0.2);
    text-align: center;
    position: relative;
    z-index: 10;
    margin-left: 454.32*@p;
    margin-top: -152.16*@p;
    @media @xs {
      margin: 180*@p auto 0;
    }

    .title {
      h2 {
        font-size: 35rem;
      }
    }
    .copy {
      font-size: 16rem;
      line-height: 25rem;
      margin-bottom: 20rem;
    }
  }
  .section-04 {
    // background-color: rgba(255, 28, 28, 0.2);
    .title {
      // background-color: rgba(255, 28, 28, 0.32);
      display: inline-block;
      position: relative;
      z-index: 5;
      margin-top: -147*@p;
      margin-left: -26.76*@p;
      h2 {
        font-family: @font-family;
        font-size: 215.4*@p;
        font-weight: 700;
        font-style: italic;
        letter-spacing: -10.75*@p;
      }
    }
    .number-04 {
      margin-left: 320.64*@p;
      margin-top: -161.5*@p;
      @media @xs {
        margin-left: -320*@p;
      }

      img {
        width: 715*@p;
        @media @xs {
          width: 1401*@p;
        }

      }
    }
    .section-content {
      // position: relative;
      margin-left: 501*@p;
      margin-top: -118.25*@p;
      width: 378*@p;
      font-size: 16*@p;
      line-height: 25*@p;
      @media @xs {
        margin-left: 126.6*@p;
        margin-top: -252.6*@p;
        width: 694.8*@p;
        font-size: 33.6*@p;
        line-height: 54.72*@p;
      }
    }
  }
  .leaf-04 {
    margin-left: -281.8*@p;
    margin-top: -704.4*@p;
    @media @xs {
      margin-left: -358.6*@p;
      margin-top: -90*@p;
    }
    img {
      width: 766*@p;
    }
  }
  .handwritten2 {
    margin-left: -2*@p;
    margin-top: -210.3*@p;
    @media @xs {
      margin-left: -50*@p;
      margin-top: -498*@p;
    }

    img {
      width: 492*@p;
      @media @xs {
        width: 876*@p;
      }
    }
  }
  .component {
    width: 300rem;
    // margin: 0px auto;
    // background-color: rgb(133, 242, 22)
  }
  .quote {
    font-size: 25rem;
    line-height: 32rem;
    text-align: center;
    margin-left: 160*@p;
    margin-top: 100*@p;
    @media @xs {
      margin: 100*@p auto 0;
    }

    .quotation {
      text-align: left;
      margin-left: -40rem;
      img {
        width: 237rem;
        height: auto;
      }
    }
    .section-content {
      // position: relative;
      width: 260rem;
      margin: -140rem auto 0;
      font-family: @heading-font-family;
      font-weight: 300;
    }
    .author {
      font-size: 12rem;
      line-height: 15rem;
      text-align: right;
      margin-top: 20rem;
    }
  }
  .contact {
    background-color: #fff;
    margin-top: -165*@p;
    margin-left: 600.64*@p;
    @media @xs {
      margin-top: 700*@p;
      margin-left: 24.64*@p;
    }

    .title {
      h2 {
        font: @heading-font-family;
        font-size: 60rem;
        font-weight: 500;
        text-transform: lowercase;
      }
    }
    form {
      #inner-editor {
        display: inline-block;
      }
      margin-left: 20rem;
      *:focus {
        outline: none;
      }
      input {
        background-color: rgba(255, 255, 255, 0);
        display: inline-block;
      }
      input[type="text"] {
        border-bottom: 2px solid #a1a1a1;
        margin-bottom: 2rem;
        margin-top: 17rem;
        transition: all 0.18s ease-out;
        &:focus {
          border-bottom: 2px solid @yellow;
        }
      }
      input::input-placeholder {
        color: #000;
      }
      [placeholder]:focus::-webkit-input-placeholder {
        transition: opacity 0.5s 0.5s ease;
        opacity: 0;
      }
      input[type="submit"] {
        background-color: @yellow;
        text-transform: uppercase;
        color: #000;
        padding: 6px 16px;
        position: relative;
        // top: 11rem;
        // left: 20rem;
      }
      .sign-up {
        display: inline-block;
        margin-top: 10rem;
        font-size: 12rem;
      }
    }
  }
  .leaf-screen3 {
    margin-top: -631*@p;
    margin-left: 390*@p;
    position: relative;
    z-index: -1;
  }
}
