@import "../../less/uniform.less";

.pixel-based {
	font-size: 16px;
	width: 320px;
	padding: 20px;
	border:2px solid black;
}
.liquid {
	font-size: 16px;
	width: 33.33333%;
	padding: 20px;
	border:2px solid black;
}
.uniform-layout {
	font-size: 16*@mdp;
	width: 320*@mdp;
	padding: 20*@mdp;
	border:2*@mdp solid black;
}
.uniform-component {
	font-size: 16*@p;
	width: 320*@p;
	padding: 20*@p;
	border:2*@p solid black;
}