@import "../../less/uniform.less";



// Variables
@mdpurple: #7B2F9F;
@mdpink: #C43374;
@lt-pink: mix(@mdpink, white, 45%);
@dk-pink: mix(@mdpink, #ccc, 67%);
@font-family-sans-serif: "proxima-nova", "Helvetica Neue", Helvetica, Arial,sans-serif;
@headings-font-family: "proxima-nova-extra-condensed", "Helvetica Neue", Helvetica, Arial,sans-serif;
@extrabold: 700;
@semibold: 600;
@text-color: white;



// Mixins
.heading-style() {
	font-family: @headings-font-family;
	text-transform: uppercase;
	letter-spacing: -0.02em;

	em {
		font-style: normal;
	}
}



// Styles
h1, h2, h3, h4, h5, h6 {
	.heading-style();
	margin: 0;
}
p {
	margin:0;
}
.runner-1 {
	img {
		width:100%;
	}
}
.shoe-print {
  position: relative;
  z-index: 50;
  img {
    position: absolute;
    width: 350*@mdp;
    top: -1010*@mdp;
    left: -120*@mdp;
		@media @xs {
			width: 200*@mdp;
			top: -1110*@mdp;
			left: -90*@mdp;
		}
  }
}
.introduction {
	position: relative;
	z-index: 20;
	width: 420*@mdp;
	margin: -675*@mdp 0 0 auto;
	padding: 10*@mdp 75*@mdp 160*@mdp 45*@mdp;
	background: @lt-pink;

	@media @xs {
		width: auto;
		margin: -70*@xsp 0 0 auto;
		padding: 10*@xsp 30*@xsp 100*@xsp 30*@xsp;
	}

	&:before {
		.pin(center bottom, center top);
		.sudo-triangle(bottomright, 125*@mdp 210*@mdp, @lt-pink);

		@media @xs {
			border-width: 100*@xsp 160*@xsp;
		}
	}

	h1 {
		position: absolute;
		top: -230*@mdp;
		left: 40*@mdp;
		color: @mdpurple;
		font-size: 100*@mdp;
		font-weight: @semibold;
		line-height: 1em;

		@media @xs {
			left: 27*@xsp;
			top: -180*@xsp;
			font-size: 80*@xsp;
		}

		em {
			position: relative;
			left:-0.02em;
			font-weight: @extrabold;
			display:block;
			font-size: 1.7em;
			margin-top: 0.05em;
		}
	}
	.copy {
		p {
			padding-bottom: 28*@mdp;
			font-size: 18*@mdp;
			line-height: 28*@mdp;

			@media @xs {
				padding-bottom: 26*@xsp;
				font-size: 16*@xsp;
				line-height: 26*@xsp;
			}
		}
	}
}
.runner-2 {
	position: relative;
	z-index: 30;

	@media @xs {
		margin-top:-50*@xsp;
	}

	&:before {
		.sudo-triangle(bottomright, 285*@mdp 480*@mdp, white);
		.anchor(left bottom);
		top:320*@mdp;
	}

	img {
		position:absolute;
		right:0;
		top:-60*@mdp;
		width:450*@mdp;
	}
}
.shoes {
	position: relative;
	z-index: 40;
	background: @dk-pink;
	padding-top: 1px;
	margin-top: 790*@mdp;

	&:before {
		.sudo-triangle(bottomleft, 480*@mdp, @dk-pink);
		.pin(left bottom, left top);
	}
	&:after {
		.sudo-triangle(topleft, 275*@mdp 480*@mdp, @dk-pink);
		.pin(left top, left bottom);
	}

	h2 {
		position: absolute;
		margin: 0;
		font-size: 350*@mdp;
		font-weight: @extrabold;
		left: -50*@mdp;
		top: -655*@mdp;

		@media @xs {
			font-size: 140*@xsp;
			left: -10*@xsp;
			top: -190*@xsp;
		}
	}

	.copy {
		position: relative;
		margin-top: -520*@mdp;
		margin-left: 130*@mdp;
		width: 320*@mdp;
		transform: translate(0, 210*@mdp);

		@media @xs {
			margin-top: -30*@xsp;
			margin-left: 30*@xsp;
			width: 260*@xsp;
		}

		.shape {
			content:"";
			display:block;
			width:170*@mdp;
			height:330*@mdp;
			float: right;
			shape-outside: ellipse(170*@mdp 90*@mdp at 100% 210*@mdp);

			@media @xs {
				display:none;
			}
		}

		p {
			padding-bottom: 26*@mdp;
			font-size: 16*@mdp;
			line-height: 26*@mdp;

			@media @xs {
				padding-bottom: 26*@xsp;
				font-size: 16*@xsp;
				line-height: 26*@xsp;
			}
		}

		img {
			position: absolute;
			width: 1010*@mdp;
			top: -150*@mdp;
			left: 160*@mdp;

			@media @xs {
				top: -180*@xsp;
			}
		}
	}
}
.runner-3 {
	position:relative;
	padding-bottom: 130*@mdp;

	img {
		position: absolute;
		width: 1010*@mdp;
		// width:100%;
		@media @xs {
			width:2000*@mdp;
			left: -660*@mdp;
			top: -250*@mdp;
		}
	}
	.quote {
		position: absolute;
		z-index: 60;
		top: 370*@mdp;
		left: 130*@mdp;
		font-size: 19*@mdp;
		text-align: right;
		width: 420*@mdp;
		@media @xs {
			top: 570*@mdp;
			left: 70*@mdp;
		}
		.heading-style();

		* {
			line-height: 1em;
		}

		.line {

			&:nth-child(1) {
				font-weight: @semibold;
				font-size: 3.15em;
				
				@media @xs {
					font-size: 6.15em;
					line-height: .8em;
				}
			}
			&:nth-child(2) {
				font-weight: @semibold;
				font-size: 2.6em;

				@media @xs {
					font-size: 2.9em;
				}
			}
			&:nth-child(3) {
				font-size: 2.4em;

				@media @xs {
					font-size: 3em;
				}
			}
			&:nth-child(4) {
				font-size: 2em;

				@media @xs {
					font-size: 2.5em;
				}

				em {
					font-size: 1.5em;
					font-style: normal;
					font-weight: @extrabold;
				}
			}
		}
		.author {
			font-size: 1em;
			text-transform: none;
			@media @xs {
				font-size: 2em;
			}
		}
	}
}
