@import "../../less/uniform.less";
@import "../../less/themes/bootswatch.flatly.less";

// Bootstrap variable override
@navbar-margin-bottom: 0;
@navbar-border-radius: 0;

body {
	font-weight: 300;
}
.navbar-form .form-control.navbar-search {
	@media @sm-up {
		width: 300*@rem;
	}
}

.hero {
	background: #eee;
	height: 50vw;
}

.video-intro {
	margin-top:40 *@p;
	min-width:320*@rem;
	width: 40%;
	margin: 0 auto;
	box-shadow: 0 20*@rem 40*@rem fade(black, 40);
}