@import "../../less/uniform.less";

.screenlayout {
	// This component scales to fit the screen size.
	padding: 2vw;
	font-size: 4vw;

	text-align: center;
	background: black;
	color: white;
}
.component {
	// This component is internally consistent on each screen size. 
	width: 320*@p;
	min-height: 160*@p;
	padding: 20*@p;

	border:2*@p solid black;
}