@import "../../less/uniform.less";



// Variables
@purple: #7B2F9F;
@pink: #C43374;
@lt-pink: mix(@pink, white, 45%);
@dk-pink: mix(@pink, #ccc, 67%);
@font-family-sans-serif: "proxima-nova", "Helvetica Neue", Helvetica, Arial,sans-serif;
@headings-font-family: "proxima-nova-extra-condensed", "Helvetica Neue", Helvetica, Arial,sans-serif;
@extrabold: 700;
@semibold: 600;
@text-color: white;



// Mixins
.heading-style() {
	font-family: @headings-font-family;
	text-transform: uppercase;
	letter-spacing: -0.02em;

	em {
		font-style: normal;
	}
}


// Normalize
*, *:before, *:after {
	box-sizing: border-box;
}
img {
  vertical-align: middle;
}

// Styles
body {
	color: white;
}
h1, h2, h3, h4, h5, h6 {
	.heading-style();
	margin: 0;
}
p {
	margin:0;
}
.runner-1 {
	img {
		width:100%;
	}
}
.shoe-print {
	position: relative;
	z-index: 50;

	img {
		position: absolute;

		width: 350*@p;
		top: -1010*@p;
		left: -120*@p;

		.xs({
			width: 65*@rp;
			top: -370*@rp;
			left: -30*@rp;
		});
  }
}
.introduction {
	position: relative;
	z-index: 20;
	background: @lt-pink;

	width: 420*@p;
	margin: -675*@p 0 0 auto;
	padding: 10*@p 75*@p 160*@p 45*@p;

	.xs({
		width: auto;
		margin: -70*@rp 0 0 auto;
		padding: 10*@rp 30*@rp 100*@rp 30*@rp;
	});

	&:before {
		.pin(center bottom, center top);
		.sudo-triangle(bottomright, 125*@p 210*@p, @lt-pink);

		.xs({
			border-width: 100*@rp 160*@rp;
		});
	}

	h1 {
		position: absolute;
		color: @purple;
		font-weight: @semibold;
		line-height: 1em;

		top: -230*@p;
		left: 40*@p;
		font-size: 100*@p;

		.xs({
			left: 27*@rp;
			top: -180*@rp;
			font-size: 80*@rp;
		});

		em {
			position: relative;
			left:-0.02em;
			font-weight: @extrabold;
			display:block;
			font-size: 1.7em;
			margin-top: 0.05em;
		}
	}
	.copy {
		p {
			padding-bottom: 28*@p;
			font-size: 18*@p;
			line-height: 28*@p;

			.xs({
				padding-bottom: 26*@rp;
				font-size: 16*@rp;
				line-height: 26*@rp;
			});
		}
	}
}
.runner-2 {
	position: relative;
	z-index: 30;

	&:before {
		.sudo-triangle(bottomright, 285*@p 480*@p, white);
		.anchor(left bottom);
		top:320*@p;
	}

	.xs({
		margin-top:-50*@rp;
	});

	img {
		position:absolute;
		right:0;
		top:-60*@p;
		width:450*@p;
	}
}
.shoes {
	position: relative;
	z-index: 40;
	background: @dk-pink;
	padding-top: 1px;

	margin-top: 790*@p;

	&:before {
		.sudo-triangle(bottomleft, 480*@p, @dk-pink);
		.pin(left bottom, left top);
	}
	&:after {
		.sudo-triangle(topleft, 275*@p 480*@p, @dk-pink);
		.pin(left top, left bottom);
	}

	h2 {
		position: absolute;
		margin: 0;
		font-weight: @extrabold;

		font-size: 350*@p;
		left: -50*@p;
		top: -655*@p;

		.xs({
			font-size: 140*@rp;
			left: -10*@rp;
			top: -190*@rp;
		});
	}

	.copy {
		position: relative;

		margin-top: -520*@p;
		margin-left: 130*@p;
		width: 320*@p;
		transform: translate(0, 210*@p);

		.xs({
			margin-top: -30*@rp;
			margin-left: 30*@rp;
			width: 260*@rp;
		});

		.shape {
			content:"";
			display:block;
			float: right;

			width:170*@p;
			height:330*@p;
			shape-outside: ellipse(170*@p 90*@p at 100% 210*@p);

			.xs({
				display:none;
			});
		}

		p {
			padding-bottom: 26*@p;
			font-size: 16*@p;
			line-height: 26*@p;

			.xs({
				padding-bottom: 26*@rp;
				font-size: 16*@rp;
				line-height: 26*@rp;
			});
		}

		img {
			position: absolute;
			width: 1010*@p;
			top: -150*@p;
			left: 160*@p;

			.xs({
				top: -180*@rp;
			});
		}
	}
}
.runner-3 {
	position:relative;
	padding-bottom: 130*@p;

	img {
		position: absolute;
		width: 1010*@p;

		.xs({
			width:665*@rp;
			left: -220*@rp;
			top: -85*@rp;
		});
	}
	.quote {
		position: absolute;
		z-index: 60;
		text-align: right;

		top: 370*@p;
		left: 130*@p;
		font-size: 19*@p;
		width: 420*@p;

		.xs({
			color: black;
			top: 570*@rp;
			left: 70*@rp;
		});

		.heading-style();

		* {
			line-height: 1em;
		}

		.line {

			&:nth-child(1) {
				font-weight: @semibold;
				font-size: 3.15em;
				
				.xs({
					font-size: 6.15em;
					line-height: .8em;
				});
			}
			&:nth-child(2) {
				font-weight: @semibold;
				font-size: 2.6em;

				.xs({
					font-size: 2.9em;
				});
			}
			&:nth-child(3) {
				font-size: 2.4em;

				.xs({
					font-size: 3em;
				});
			}
			&:nth-child(4) {
				font-size: 2em;

				.xs({
					font-size: 2.5em;
				});

				em {
					font-size: 1.5em;
					font-style: normal;
					font-weight: @extrabold;
				}
			}
		}
		.author {
			font-size: 1em;
			text-transform: none;

			.xs({
				font-size: 2em;
			});
		}
	}
}
